#header {
  padding-top: 10px;
  text-align: center;
  font-family: "Comic Sans MS", cursive;
  font-size: 40px;
  display: block;
}

clr-datagrid {
  margin: 0 10px;
  max-height: 500px;
}

#spinner {
  position: fixed;
  top: 45%;
  left: 47%;
  z-index: 100000;
}

#helper-line {
  margin: 5px 10px;
  display: flex;
  justify-content: space-between;
}
