#header {
  padding-top: 10px;
  text-align: center;
  font-family: "Comic Sans MS", cursive;
  font-size: 40px;
  display: block;
}

#content-area {
  margin-top: 100px;
}

#spinner {
  position: fixed;
  top: 45%;
  left: 45%;
  z-index: 100000;
}
